<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"/>
<script src="navy/navy.js"></script>
<script>
    Navy.App.setInitRootBeforeCallback(function(){
      var sceneId = Navy.Config.app.start.scene;
      var scene = Navy.Config.scene[sceneId];
      scene.extra.contentLayoutFile = null;

      var pageId = scene.extra.page;
      var page = Navy.Config.page[pageId];
      page.extra.contentLayoutFile = Native.getLayoutPath();
      page.class = 'CreatorPage';
      page.classFile = 'creator/creator_page.js';
    });
</script>
</head>

<body>
<script>
  /*
  window.addEventListener('load', function(){
    var layoutPath = Native.getLayoutPath();
    alert(layoutPath);
  });
  */

  /*
  var xhr = new XMLHttpRequest();
//  xhr.open("GET", "config/app.json", false);
    xhr.open("GET", "http://h13i32maru.jp/navy/sample/config/app.json", false);
  xhr.onload = function(ev){
    var xhr = ev.target;
    var json = xhr.responseText;
    alert(json);
  };
  xhr.onerror = function(){
    alert("onerror");
  };
  xhr.send();
  */
</script>
</body>

</html>
