<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"/>
<script src="navy/navy.js"></script>
<script>
  Navy.App.setInitRootBeforeCallback(function(){
    var sceneId = Navy.Config.app.start.scene;
    var scene = Navy.Config.scene[sceneId];
    scene.extra.contentLayoutFile = null;

    var pageId = scene.extra.page;
    var page = Navy.Config.page[pageId];
    page.backgroundColor = null;
    page.extra.contentLayoutFile = Native.getLayoutPath();
    page.class = 'CreatorPage';
    page.classFile = 'creator/creator_page.js';
  });
</script>
</head>

<body>
<div style="position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.2);"></div>
</body>

</html>
