<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"/>
<script src="navy/navy.js"></script>
<script>
  Navy.App.setInitRootBeforeCallback(function(){
    var pageId = '$CreatorPage';
    var pageLayout = {
      id: pageId,
      class: 'CreatorPage',
      classFile: 'creator/creator_page.js',
      backgroundColor: 'transparent',
      extra: {
        contentLayoutFile: Native.getLayoutPath()
      }
    };

    var sceneId = '$CreatorScene';
    var sceneLayout = {
      id: sceneId,
      class: 'CreatorScene',
      classFile: 'creator/creator_scene.js',
      backgroundColor: 'transparent',
      extra: {
        page: pageId,
        contentLayoutFile: null
      }
    };

    Navy.Config.app.start.scene = sceneId;
    Navy.Config.scene[sceneId] = sceneLayout;
    Navy.Config.page[pageId] = pageLayout;
  });
</script>
</head>

<body>
<div style="position:absolute; width:100%; height:100%; border:solid 1px rgba(0,0,0,0.2); box-sizing: border-box;"></div>
</body>

</html>
