creator/src/navy-creator.pro.user
creator/src/template/contents/navy
creator/build
navyjs/build
navyjs/sample/navy
node_modules
navyjs/spec/coverage
GitHubClient/contents/navy
GitHubClient/contents/creator
GitHubClient/plugin
GitHubClient/tools

creator/src/sample/*/plugin
creator/src/sample/*/tools
creator/src/sample/*/contents/creator
creator/src/sample/*/contents/navy
creator/src/sample/*/contents/index.html
creator/src/sample/*/contents/index_creator.html
