creator/src/navy-creator.pro.user
creator/build
navyjs/build
node_modules
navyjs/spec/coverage

creator/src/resource/sample/*/plugin
creator/src/resource/sample/*/tools
creator/src/resource/sample/*/contents/creator
creator/src/resource/sample/*/contents/navy
creator/src/resource/sample/*/contents/*.html
creator/src/resource/template/contents/navy
